body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.header img {
  height: 50px;
  padding: 10px;
}

header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    align-items: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
